.tarefas {
  margin: 30px 10px 0 15px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.tarefas li:hover {
  background: #51c5de;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: #5b5757;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}

.edit {
  margin-right: 15px;
  color: #51c5de;
}

.delete {
  margin-right: 15px;
  color: #f04c64;
}
